<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmutt.android.dailyemo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".FitbitAuthApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.kmutt.android.dailyemo.CLIENT_ID"
            android:value="22CZPN"/>
        <meta-data
            android:name="com.kmutt.android.dailyemo.REDIRECT_URL"
            android:value="https://finished"/>

        <activity
            android:name=".RootActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Fitbit.Teal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UserDataActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".activityrecognition.DetectedActivitiesIntentService"
            android:exported="false" />
        <service android:name=".activityrecognition.BackgroundDetectedActivitiesService" />

    </application>

</manifest>